html
    body
        h3 Imagekit Demo
        button(id='toggle' onClick='toggle(event)') Use API v2
        h2(id='api-description') Using API v1 signature-based authentication.
        form(action='#' onSubmit='upload(event)')
            input(type='file' id='file1')
            input(type="submit")
        div(id='info')
            div(id='status')

            div(id='images' style='display: none')

                div(id='orig_image') 
                    h4 Original Image
                    p
                        img(src="")
                div(id='trans_image') 
                    h4 Sample transformation with height: 300, width: 400: 
                    p
                        img(src="")    

        script(type='text/javascript' src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js")
        script.
            try {
                var imagekitV1 = new ImageKit({
                    publicKey: "!{publicKey}",
                    urlEndpoint: "!{urlEndpoint}",
                    authenticationEndpoint: "!{authenticationEndpoint}"
                });

                var imagekitV2 = new ImageKit({
                    publicKey: "!{publicKey}",
                    urlEndpoint: "!{urlEndpoint}",
                    authenticationEndpoint: "!{authenticationEndpointV2}",
                    apiVersion: "v2"
                });

                window.imagekitV1 = imagekitV1;
                window.imagekitV2 = imagekitV2;
                window.imagekit = imagekitV1;

                function toggle(e) {
                    if (window.imagekit.options.apiVersion == "v2") {
                        window.imagekit = imagekitV1;
                        document.getElementById("toggle").innerHTML = "Use API v2";
                        document.getElementById("api-description").innerHTML = "Using API v1 signature-based authentication.";
                    } else {
                        window.imagekit = imagekitV2;
                        document.getElementById("toggle").innerHTML = "Use API v1";
                        document.getElementById("api-description").innerHTML = "Using API v2 JWT authentication.";
                    }
                }

                function upload(e) {
                    e.preventDefault();
                    var file = document.getElementById("file1");
                    var fileSize = file.files[0].size;
                    var statusEl = document.getElementById("status");
                    statusEl.innerHTML = "Uploading...";

                    // Use this if you want to track upload progress
                    var customXHR = new XMLHttpRequest();
                    customXHR.upload.addEventListener('progress', function (e) {
                        if (e.loaded <= fileSize) {
                            var percent = Math.round(e.loaded / fileSize * 100);
                            console.log(`Uploaded ${percent}%`);
                        } 

                        if(e.loaded == e.total){
                            console.log("Upload done");
                        }
                    });

                    imagekit.upload({
                        xhr: customXHR, // Use this if you want to track upload progress
                        file : file.files[0],
                        fileName : file.files[0].name || "test_image.jpg",
                        tags : ["test_tag_1"],
                        //- extensions: [
                        //-     {
                        //-         name: "aws-auto-tagging",
                        //-         minConfidence: 80,
                        //-         maxTags: 10
                        //-     }
                        //- ],
                    }, function(err, result) {
                        if (err) {
                            statusEl.innerHTML = "Error uploading image. "+ err.message; 
                            console.log(err) 
                        } else {
                            statusEl.innerHTML = "File Uploaded";
                            var sampleTransformations = [{ HEIGHT: 300, WIDTH: 400}];
                            srcUrl = result.url;
                            transformedURL = imagekit.url({
                                src: srcUrl,
                                transformation : sampleTransformations
                            });

                            var orig_img = document.querySelector("#orig_image > p > img");
                            var trans_img = document.querySelector("#trans_image > p > img");

                            orig_img.setAttribute("src", srcUrl);
                            trans_img.setAttribute("src", transformedURL);

                            var el  = document.getElementById('images')
                            el.setAttribute("style", "");
                        }
                    });
                }
            } catch(ex) {
                console.log(ex);
            }